/* CSS Document */
body{
	margin:0px;
	padding:0px;
	overflow:scroll;
	overflow-x:hidden;
	font:"宋体", "微软雅黑 Light" normal;
	background:#ffffff;
	 }
a{text-decoration:none;color:black;}	
	
.top{
	width:100%;
	height:40px;
	background:#282828;
	padding:0px 5%;
	color:#dddddd;
	line-height:36px;
	font-size:14px;
}
   /*--end top --*/
   
 
.header{
	width:100%;
	height:100px;
}
.header_z{
	width:1166px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
}
.logo{
	width:280px;
	height:100px;
	float:left;
	background-image: url(../images/logo.png);	
}
.header_l{
	width:386px;
	height:100px;
	float:left;
	margin-left:280px;
	background-image: url(../images/lx.png);	
}
.header_r{
	width:220px;
	height:100px;
	float:right;
}
.button {
	width:74px;
	height:38px;
    background-color: #ffffff; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 25px 16px;
	border:2px solid #555555;
	border-radius:10px;
	outline: none;
	
}

.button:hover {
    background-color: #0d496e;
    color:white;
}
.buton a{color:black;}
.button a:active{color:white;}
.button a:hover{color:white;}

/*--end header --*/


.nav{
	width:100%;
	height:65px;	
}
.nav ul{
	width:1166px;
	height:65px;
	margin:0 auto;
	padding:0;
}
.nav ul li{
	list-style:none;
	width:10%;
	height:60px;
	float:left;
	text-align:center;
	font:16px normal;
	line-height:60px;
}
.nav ul li a {
	text-decoration:none;
	font-family: normal; 
}
.nav ul li a:hover {
	display:block; 
	color:#FFFFFF;
	background:#1f9ca7;	
	border-radius:5px;
}
.active{
	display:block; 
	color:white;
	background:#1f9ca7;	
	border-radius:5px;
}

/*--end nav --*/


.search{
	width:100%;
	height:355px;
	background:no-repeat;
	background-image: url(../images/banner.jpg) ;	
}
.search_z{
	width:1116px;
	height:150px;
	margin-right:20px;
	margin-top:102px;
	margin-left:102px;
	float:left;
}
.search_l{
	width:890px;
	height:150px;
	float:left;

	
}
.search_l_t{
	width:400px;
	height:65px;
	color:white;
	margin:0 auto;
	
	}
.search_l_t a{font-size:24px;margin:50px;text-shadow:1px 1px 2px #000; }
.liu{color:#1f9ca7}
.liu1{color:#ffffff;}
.search_l_b{
	width:890px;
	height:85px;
	
}
.search_l_b {
	width:650px;
	height:70px;
	margin-top:10px;
	margin-left:70px;
	color:#808080;
	font-size:24px;
	line-height:65px;
	border-radius:10px;
	padding-left:20px;	
}


form {  
         position: relative;  
    
        }  
  
input, button {  
            border: none;  
            outline: none;  
        }  
  
input {
	width: 650px;
	height: 70px;
	padding-left: 13px;
	padding-right:46px;
	font-size:24px;
        }  
  

.bar1 input {
	border-radius: 5px;
	background: #FFFFFF;
	color: #9E9C9C;		
        }  
.bar1 button {
	top: 0;
		height: 70px;
	width: 150px;
	cursor: pointer;
	position: absolute;
	right: 0;
	background: #0d496e;
	border-radius: 0 5px 5px 0;
        }  
.bar1 button:before {
	font-family: FontAwesome;
	font-size: 16px;
	color: #F9F0DA;
        }  
.search_r{
	width:175px;
	height:150px;
	float:left;

}
.button1 {
	width:150px;
	height:70px;
    background-color: #0d496e; 
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    margin: 75px 16px;
	border-radius:10px;
	outline: none;
	
}
.button1 a{ color:#FFFFFF}
/*--end search --*/


.main-j{
	width:100%;
	height:475px;
	margin-top:20px;
}
.main-j a{color:#0d496e;}
.main-j a:active{color:#0d496e;}
.main-j a:hover{color:#0d496e;}
.main-j-top{
	width:1166px;
	height:34px;
	margin-left:auto;
	margin-right:auto;
}
.PlatformProfile{
	margin-left:457px;
}
.main-j-footer{
	width:1166px;
	height:412px;
	margin-top:21px;
	margin-left:auto;
	margin-right:auto;
}
.ABOUT{
	width:250px;
	height:410px;
	float:left;
	box-shadow:#000000 0px 0px 5px 3px;
}
.ABOUT-t{
	height:40px;
	width:187px;
	margin-top:39px;
	margin-left:21px;
	float:left;
	font-size:20px;
}
.ABOUT-m{
	width:195px;
	height:184px;
	margin-top:53px;
	margin-left:37px;
	float:left;
	line-height:24px;
	font-size:15px;
}
.ABOUT-f{
	width:61px;
	height:13px;
	font-size:15px;
	margin-top:58px;
	margin-left:161px;
	float:left
}
.reward{
	width:250px;
	height:365px;
	margin-left:50px;
	float:left;
}
.reward-t{
	width:250px;
	height:90px;
	float:left;
}
.reward-m1{
	width:117px;
	height:20px;
	font-size:24px;
	margin-left:28px;
	margin-top:22px;
	float:left;
}
.reward-m2{
	width:250px;
	height:137px;
	font-size:15px;
	margin-top:32px;
	float:left;
	line-height:24px;
}
.reward-f{
	width:64px;
	height:13px;
	margin-top:41px;
	margin-left:181px;
	float:left;
}

/*--end main-j --*/


.main-f{
	width:100%;
	height:515px;
	background:#f2f2f2;
	margin-top:20px;
}
.main-f-top{
	position:relative;
	width:1166px;
	height:50px;
	top:29px;
	margin-left:auto;
	margin-right:auto;
}
.serve{
	margin-left:457px;
}
.main-f-f{
	position:relative;
	width:1266px;
	height:370px;
	top:23px;
	margin-left:auto;
	margin-right:auto;
}
.item1 li{
	position:relative;
	float:left;
	margin-right:0px;
	width:265px;
	height:370px;
	overflow:hidden;
	cursor:pointer;
}
.item1-div{
	position:absolute;
	float:left;
	left:0;
	top:320px;
	width:265px;
	height:50px;
	overflow:hidden;
	background:#000; 
	filter:alpha(opacity:30); 
	opacity:0.5; 
	z-index:1;
}
.div{
	position:absolute;
	left:0;
	top:320px;
	width:265px;
	height:50px;
	text-align:center;
	color:#FFF;
	overflow:hidden; 
	z-index:2;
}
.item1 p{
	display:none;
	width:194px;
	margin-left:27px;
	line-height:36px;
	text-align:left;
	text-indent:2em;
	font-size:18px;
}
.item1-h3{
	height:50px;
	font:20px normal ;
	margin-top:10;
	text-indent:0px;
}
/*--end main-f --*/


.footer{
	width:100%;
	height:170px;
background:#2f2f2f;
}
.footer-top{
	width:1166px;
	height:96px;
	margin-left:auto;
	margin-right:auto;
	color:#ffffff;
	font:18px normal;
}
.footer-a{
	width:900px;
	height:96px;
	margin-left:160px;;
	margin-top:38px;
	line-height:35px;
	float:left;
	text-align:center;
}
.footer a{color:#ffffff;}

/*--end footer --*/